## import pandas and numpy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Load the data into Pandas

In [2]:
colombia = pd.read_csv("data/colombia_edit.csv")

In [3]:
colombia.head()

,iyear,latitude,longitude,attacktype1_txt,gname,nkill
0,1970,5.059097,-75.505960,Hostage Taking (Kidnapping),Unknown,NaN
1,1972,4.594635,-74.093737,Assassination,Unknown,1.0
2,1972,6.267500,-75.568611,Hostage Taking (Kidnapping),National Liberation Army of Colombia (ELN),0.0
3,1973,NaN,NaN,Hostage Taking (Kidnapping),National Liberation Army of Colombia (ELN),0.0
4,1973,8.312931,-75.142561,Hostage Taking (Kidnapping),Popular Liberation Army (EPL),NaN

In [4]:
# Replace the NaN kills with 0
colombia['nkill'].fillna(0,  inplace=True)
colombia.head()

,iyear,latitude,longitude,attacktype1_txt,gname,nkill
0,1970,5.059097,-75.505960,Hostage Taking (Kidnapping),Unknown,0.0
1,1972,4.594635,-74.093737,Assassination,Unknown,1.0
2,1972,6.267500,-75.568611,Hostage Taking (Kidnapping),National Liberation Army of Colombia (ELN),0.0
3,1973,NaN,NaN,Hostage Taking (Kidnapping),National Liberation Army of Colombia (ELN),0.0
4,1973,8.312931,-75.142561,Hostage Taking (Kidnapping),Popular Liberation Army (EPL),0.0

In [7]:
len(colombia.index)

8163

In [8]:
colombia['nkill'].describe()

count    8163.000000
mean        1.788558
std         5.543407
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max       275.000000
Name: nkill, dtype: float64

In [11]:
colombia['attacktype1_txt'].describe()

count                  8163
unique                    9
top       Bombing/Explosion
freq                   3075
Name: attacktype1_txt, dtype: object

In [12]:
colombia['gname'].describe()

count                                              8163
unique                                              107
top       Revolutionary Armed Forces of Colombia (FARC)
freq                                               2462
Name: gname, dtype: object

In [9]:
colombia_lat_long = colombia.dropna(how='any')
colombia_lat_long.head()

,iyear,latitude,longitude,attacktype1_txt,gname,nkill
0,1970,5.059097,-75.505960,Hostage Taking (Kidnapping),Unknown,0.0
1,1972,4.594635,-74.093737,Assassination,Unknown,1.0
2,1972,6.267500,-75.568611,Hostage Taking (Kidnapping),National Liberation Army of Colombia (ELN),0.0
4,1973,8.312931,-75.142561,Hostage Taking (Kidnapping),Popular Liberation Army (EPL),0.0
5,1973,7.594170,-74.811900,Hostage Taking (Kidnapping),National Liberation Army of Colombia (ELN),0.0

In [10]:
len(colombia_lat_long.index)

7699

In [16]:
colombia_1970 = colombia[(colombia['iyear'] >= 1970) & (colombia['iyear'] < 1980)]

In [17]:
colombia_1980 = colombia[(colombia['iyear'] >= 1980) & (colombia['iyear'] < 1989)]

In [18]:
colombia_1990 = colombia[(colombia['iyear'] >= 1990) & (colombia['iyear'] < 1999)]

In [19]:
colombia_2000 = colombia[(colombia['iyear'] >= 2000) & (colombia['iyear'] < 2010)]

In [20]:
colombia_2010 = colombia[(colombia['iyear'] >= 2010) & (colombia['iyear'] < 2020)]

In [21]:
colombia_1970.to_csv('./data/colombia_1970.csv')
colombia_1980.to_csv('./data/colombia_1980.csv')
colombia_1990.to_csv('./data/colombia_1990.csv')
colombia_2000.to_csv('./data/colombia_2000.csv')
colombia_2010.to_csv('./data/colombia_2010.csv')